<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %></title>
    <% include ../partials/head %>
</head>
<body class="container">
<% include ../partials/header %>


<main>
    
	<div class="row">
		<div class="col-12 mt-2">
			<a><a href="/ui/deposit" class="btn btn-outline-primary">Deposit</a></a>
		</div>
		<div class="col-12 mt-2">
			<a><a href="/ui/withdraw" class="btn btn-outline-primary">Withdraw</a></a>
		</div>
		<div class="col-12 mt-2">
			<a><a href="/ui/transactions" class="btn btn-outline-primary">Transactions</a></a>
		</div>
	</div>
</main>

<% include ../partials/footer %>
<% include ../partials/js %>
</body>
</html>